@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--font-primary: 'SF Font';

		--color-primary: 107 164 233;
		--color-primary-bold: 61 112 178;
		--text-color-bold: 57 58 79;
		--text-color: 117 122 145;
		--dark-color-placeholder: rgb(78, 97, 131);
	}
	@font-face {
		font-family: 'SF Font';
		src: url('./assets/fonts/SF-Pro-Display-Thin.otf');
		font-weight: 100;
	}
	@font-face {
		font-family: 'SF Font';
		src: url('./assets/fonts/SF-Pro-Display-Regular.otf');
		font-weight: 400;
	}

	@font-face {
		font-family: 'SF Font';
		src: url('./assets/fonts/SF-Pro-Display-Bold.otf');
		font-weight: 700;
	}

	input {
		caret-color: rgb(var(--color-primary-bold));
	}

	html {
		font-family: var(--font-primary);
		font-weight: 400;
		line-height: 1.3333;
		-webkit-tap-highlight-color: transparent;
	}
	body {
		overflow-y: visible;
	}

	.bouncy {
		-webkit-animation: bouncy 0.6s;
		animation: bouncyAnimate 0.6s;
		-webkit-animation-duration: 0.6s;
		animation-duration: 0.6s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}

	@keyframes bouncyAnimate {
		0%,
		100% {
			transform: scale(1, 1);
		}

		25% {
			transform: scale(0.9, 1.1);
		}
		50% {
			transform: scale(1.1, 0.9);
		}
		75% {
			transform: scale(0.95, 1.05);
		}
	}
}

@layer utilities {
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	::-ms-reveal {
		color: var(--color-primary);
		background-color: var(--color-primary);
	}

	html *::-webkit-scrollbar {
		transition: all 1s linear;
		border-radius: 0;
		width: 8px;
	}

	html *::-webkit-scrollbar-thumb {
		transition: all 1s linear;
		border-radius: 4px;
		/* background-color: rgba(107, 164, 233, 0.2); */
		background-color: rgba(107, 164, 233, 0.7);
	}

	html *::-webkit-scrollbar-track {
		background-color: rgba(0, 0, 0, 0);
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: rgba(107, 164, 233, 0.7);
	}

	.text-normal {
		@apply text-slate-800 dark:text-dark-100;
	}
	.clickable {
		@apply cursor-pointer opacity-90 transition-transform active:scale-90;
	}
}
.max-height {
	max-height: min((100vh - 6px) - 60px, 734px);
}

.overflow-y-overlay {
	overflow-y: overlay;
}

.tooltip {
	position: relative;
}

.arrow,
.arrow::before {
	position: absolute;
	width: 8px;
	height: 8px;
	background: inherit;
}

.arrow {
	visibility: hidden;
}

.arrow::before {
	visibility: visible;
	content: '';
	transform: rotate(45deg);
}

.tooltip[data-placement^='top'] > .arrow {
	bottom: -4px;
}

.tooltip[data-placement^='bottom'] > .arrow {
	top: -4px;
}

.tooltip[data-placement^='left'] > .arrow {
	right: -4px;
}

.tooltip[data-placement^='right'] > .arrow {
	left: -4px;
}

.border-dashed {
	height: 100px;
	width: 200px;
	background: linear-gradient(90deg, blue 50%, transparent 50%),
		linear-gradient(90deg, blue 50%, transparent 50%),
		linear-gradient(0deg, blue 50%, transparent 50%),
		linear-gradient(0deg, blue 50%, transparent 50%);
	background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
	background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
	background-position: 0px 0px, 200px 100px, 0px 100px, 200px 0px;
	padding: 10px;
	animation: border-dance 4s infinite linear;
}
@keyframes border-dance {
	0% {
		background-position: 0px 0px, 300px 116px, 0px 150px, 216px 0px;
	}
	100% {
		background-position: 300px 0px, 0px 116px, 0px 0px, 216px 150px;
	}
}
