@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	:root {
		--font-primary: 'SF Font';
		--color-primary: 107 164 233;
		--color-primary-bold: 61 112 178;
		--text-color-bold: 57 58 79;
		--text-color: 117 122 145;
		--dark-color-placeholder: rgb(78, 97, 131);
		--scrollbarBG: #cfd8dc;
		--thumbBG: #90a4ae;
	}
	@font-face {
		font-family: 'SF Font';
		src: url('./assets/fonts/SF-Pro-Display-Thin.otf');
		font-weight: 100;
	}
	@font-face {
		font-family: 'SF Font';
		src: url('./assets/fonts/SF-Pro-Display-Regular.otf');
		font-weight: 400;
	}

	@font-face {
		font-family: 'SF Font';
		src: url('./assets/fonts/SF-Pro-Display-Bold.otf');
		font-weight: 700;
	}

	input {
		caret-color: rgb(var(--color-primary-bold));
	}

	html {
		font-family: var(--font-primary);
		font-weight: 400;
		line-height: 1.3333;
		-webkit-tap-highlight-color: transparent;
	}
	body {
		overflow-y: visible;
	}

	.bouncy {
		-webkit-animation: bouncy 0.6s;
		animation: bouncyAnimate 0.6s;
		-webkit-animation-duration: 0.6s;
		animation-duration: 0.6s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}

	body {
		overflow: hidden;
	}

	@keyframes bouncyAnimate {
		0%,
		100% {
			transform: scale(1, 1);
		}

		25% {
			transform: scale(0.9, 1.1);
		}
		50% {
			transform: scale(1.1, 0.9);
		}
		75% {
			transform: scale(0.95, 1.05);
		}
	}
}

@layer utilities {
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	::-webkit-scrollbar {
		@apply w-[0.7rem];
	}

	::-webkit-scrollbar-thumb {
		border: 3px solid transparent;
	}

	::-webkit-scrollbar-thumb {
		@apply rounded-full border-gray-300 bg-gray-500/50 transition-all hover:bg-gray-500 dark:border-gray-700 dark:bg-gray-500 hover:dark:bg-gray-400;
	}

	::-webkit-scrollbar-track {
		@apply bg-gray-300 dark:bg-gray-700;
	}
	.scrollbar-hover::-webkit-scrollbar {
		@apply hidden;
	}
	.scrollbar-hover:hover::-webkit-scrollbar {
		@apply block;
	}

	.scrollbar-track-transparent::-webkit-scrollbar-track {
		@apply bg-transparent;
	}

	.scrollbar-track-transparent::-webkit-scrollbar-thumb {
		@apply border-none;
	}
	.scrollbar-track-transparent::-webkit-scrollbar {
		@apply w-[0.5rem];
	}

	.text-normal {
		@apply text-slate-600 dark:text-dark-100;
	}
	.border-normal {
		@apply border-slate-300 dark:border-dark-500;
	}
	.clickable {
		@apply cursor-pointer opacity-90 transition-transform active:scale-90;
	}

	.absolute-center {
		@apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transform;
	}
	.primary-text {
		@apply !text-primary-700 dark:!text-primary-500;
	}
	.text-color-primary {
		@apply text-primary-700 dark:text-primary-500;
	}
}
.max-height {
	max-height: min((100vh - 6px) - 60px, 734px);
}

.overflow-y-overlay {
	overflow-y: overlay;
}

.tooltip {
	position: relative;
}

.arrow,
.arrow::before {
	position: absolute;
	width: 8px;
	height: 8px;
	background: inherit;
}

.arrow {
	visibility: hidden;
}

.arrow::before {
	visibility: visible;
	content: '';
	transform: rotate(45deg);
}

.tooltip[data-placement^='top'] > .arrow {
	bottom: -4px;
}

.tooltip[data-placement^='bottom'] > .arrow {
	top: -4px;
}

.tooltip[data-placement^='left'] > .arrow {
	right: -4px;
}

.tooltip[data-placement^='right'] > .arrow {
	left: -4px;
}
